.informacion{
    margin-top: 40px;
    background-color: #f4ebe8;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.titulo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(108, 105, 105);
    margin: 2%;
    
}

.texto{
    font-size: 20px; 
    line-height: 2.1em;
    text-align: center;
    color:rgb(108, 105, 105);;
    align-items: center;
}

.logo{
    display:block;
    margin: auto;
    position: relative;

}
.comoLlegar{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    color: rgb(108, 105, 105);;
    margin-left: 40%;
    margin-top: 4%;

    font-size: 20px; 
    line-height: 2.1em;
}
.logoUbicacion{
    width: 5%;
    height: 5%;
    margin-bottom: 5px;
  
}
@media screen and  (max-width: 800px){
    .logoUbicacion{
        width: 10%;
        height: 10%;

    }
    .comoLlegar{
        margin-left: 30%;
    }
}
@media screen and  (max-width: 700px){
    .logoUbicacion{
        width: 10%;
        height: 10%;

    }
    .comoLlegar{
        margin-left: 30%;
    }
}

@media screen and  (max-width: 600px){
    .texto{
        font-size: 18px;
    }
}

@media screen and  (max-width: 480px){
    .informacion{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .divTexto{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;

    }
    .texto{
        font-size: 15px;
    }

    .logo{
        margin: auto;
        size: auto;
        position: relative;
    
    }
    .comoLlegar{
    margin-left: 25%;
    font-size: 15px; 
    line-height: 2.1em;
}
    
   
}