.regalos{
    margin-top: 30px;
    background-color: #f4ebe8;
    align-items: center;
    justify-content: center;
    
}
.logoGift{
    display:block;
    margin: auto;
}
.gift{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(108, 105, 105);
    margin: 5px;
}
.giftTexto{
    font-size: 20px; 
    line-height: 2.1em;
    text-align: center;
    color:rgb(108, 105, 105);;
}

.divInfo{
    margin-top: 0.5rem;
    border-top: solid black;
    text-align: center;
}
.info{
    margin-top: 0.5rem;
    border: black;   
    font-size: 15px;
    line-height: 2.5rem;
    word-spacing: 1.5em;
    letter-spacing: 2px;
    text-align: center;
}
.divContacto{
    display: flex;
    justify-content: center;
    border-radius: 3em;
}
.botonWhislist{
    width: 300px;
    height: 40px;
    margin: 0.5rem;
    text-align: center;
    border: transparent;
    cursor: pointer;
    font-size: 1.5rem;

}
.botonAboutUs{
    width: 300px;
    height: 40px;
    margin: 0.5rem;
    border: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}
.divForm{
    display: flex;
    justify-content: center;
    text-align: left;
    border-radius: 3em;
    padding-top: 2%;
    
}
.formTexto{
    font-size: 20px; 
    line-height: 2.1em;
    text-align: center;
    color:rgb(108, 105, 105);;
}