.temporizador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4ebe8;
}
.mapaDiv{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{

    padding-right: 2%;
    width:800px;
    height:375px;
    justify-content: center;
    border-color: #f4ebe8;
    border-width: 3%;

}
.mapa{
    width: 100%;
    height:50%;
    align-Items: center;
    margin-bottom: 5px;
    
}
.direc{
    background-color: #f4ebe8;
}
@media screen and (max-width: 760px) {
    .map{
        padding-left: 0%;
        padding-right: 3%;
        width: 450px;
        height:350px;
        justify-content: center;
    
    }
}
@media screen and (max-width: 600px) {
    .map{
        padding-left: 0%;
        padding-right: 1.5%;
        width: 350px;
        height:250px;
        justify-content: center;
    
    }
}
@media screen and (max-width: 480px) {
    .map{
        padding-left: 0%;
        padding-right: 1%;
        width: 230px;
        height:230px;
        justify-content: center;
    
    }
}
@media screen and (max-width: 400px) {
    .map{
        padding-left: 0%;
        padding-right: 0,5%;
        width:150px;
        height:250px;
        justify-content: center;
    
    }
}